
<section class="content_wrap">

<div class="mellon_image"> <img src="/assets/meet_mellon.png"></div>
<div class="summary"><h3 class="intro">Meet Melon </h3>
	<p class="question"> What does your Melon look like? </p>
</div>


</section>