// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

body.active_admin #header {
	font-family: 'quicksandbold';
	font-size: 17px; 
	background: -webkit-linear-gradient(-90deg, #78e4e8, #76e1ca);
	border: none;
	height: 20px;
	overflow: visible;
	position: inherit;
	padding: 9px 30px;
	z-index: 900;
	text-shadow: none;

  src: url(font-path('quicksand_bold-webfont.eot') + "?#iefix") format('embedded-opentype'),
       url(font-path('quicksand_bold-webfont.woff')) format('woff'),
       url(font-path('quicksand_bold-webfont.ttf'))  format('truetype'),
       url(font-path('quicksand_bold-webfont.svg') + "#MyFont") format('svg');
}

body.active_admin #header h1{
	color: #fff;
}
body.active_admin #header a, body.active_admin #header a:link{
	color: #fff;
}
body.active_admin #header ul.tabs > li:hover > a{
	color: #fff;
	background: none;
}
body.active_admin #header ul.tabs > li.current > a{
	color: #fff;
	background: none;
}
body.active_admin .breadcrumb{
	display: none;
}
/* TITLE BAR */
body.active_admin #title_bar{
	background: #efefef;
	text-shadow: none;
	border: none;
	box-shadow: none;
	text-shadow: none;
}
body.active_admin table.index_table th{
	background: #efefef;
	text-shadow: none;
	box-shadow: none;
	border: solid 1px #fff;
	border-color: #fff;
	border-top-color: #fff;
	border-right-color: #fff;
	border-bottom-color: #fff;
	border-left-color: #fff;
}
body.active_admin table.index_table th:last-child{
	border-right: solid 1px #fff;
}
body.active_admin table.index_table th.sorted-asc, body.active_admin table.index_table th.sorted-desc{
	background: #e2e2e2;
}

/* FILTERS */
body.active_admin .sidebar_section > h3{
	background: #efefef;
	box-shadow: none;
}
body.active_admin .section > h3, body.active_admin .panel > h3{
	border: none;
}
body.active_admin .sidebar_section{
	background: #f4f4f4;
	box-shadow: none;
	border-radius: 0;
}
/* LOGIN WINDOW*/
body.active_admin.logged_out{
	background: #fff;
}
body.active_admin.logged_out #content_wrapper #active_admin_content{
	background: #efefef;
	box-shadow: none;
}
body.active_admin.logged_out h2{
	background: #6a7176;
	box-shadow: none;
}
/* after login */
body.active_admin.logged_in .flash.flash_notice{
	background: #fff;
	border-bottom: none;
	color: #5e6469;
}
body.active_admin.logged_in .flash{
	border-bottom: none;
	color: none;
}


// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a 
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)
